{% if bi.startDate is not empty %}
	{% set objStartDate = ci_time(startDate, 'Y-m-d H:i:s') %}
	{% set startDate = objStartDate.format('Y-m-d') %}
	{% set startTime = objStartDate.format('H:i') %}
{% else %}
	{% set startTime = date('H:i') %}
	{% set startDate = date('Y-m-d') %}
{% endif %}
{% if endDate is not empty %}
	{% set objEndDate = ci_time(endDate, 'Y-m-d H:i:s') %}
	{% set endDate = objEndDate.format('Y-m-d') %}
	{% set endTime = objEndDate.format('H:i') %}
{% else %}
	{% set endTime = '' %}
{% endif %}
<div class="card">
	<div
		class="card-body pt-3">
		<!-- Multi Columns Form -->
		<div class="container-grid-poker-sitesJogados">
			<div class="grid-poker-site gap-1">
				{% for pokerSite in pokerSites %}
					<div class="d-flex justify-content-center nowrap align-items-center rounded-circle p-1">
						<a data-value="{{ pokerSite.id }}" class="btn img-select-site">
							{% set src = getSiteSrcImage(pokerSite.name) %}
							{% if trim(src)=='' %}
								{{ pokerSite.shortName }}
							{% else %}
								<img style="max-width:35px" class="img-fluid rounded-circle" src="{{ src }}" alt="{{ pokerSite.shortName }}"/>
							</a>
						{% endif %}
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
	<form method="post" class="row g-3" action="/session/saveBuyIn">
		<div class="col-md-12 col-12 col-lg-12 col-sm-12">
			<label for="gameName" class="form-label">
				Nome do jogo
			</label>
			<input autocomplete="off" type="text" name="gameName" class="form-control" id="gameName" value="{{ set_value('gameName', bi.gameName) }}" required/>
			<div id="retorno-lista-jogos" class="p-0"></div>
		</div>
		<input autocomplete="off" type="hidden" name="sessionPokerid" value="{{ set_value('sessionPokerid', bi.sessionPokerid) }}"/>
		<input autocomplete="off" type="hidden" name="buyinId" value="{{ set_value('buyinId', bi.buyinId) }}"/>
		<div class="col-6 col-sm-6 col-md-6 col-lg-6">
			<label for="startDate" class="form-label">
				Data Início
			</label>
			<input autocomplete="off" type="date" name="startDate" class="form-control" id="startDate" value="{{ set_value('startDate', startDate) }}" required/>
		</div>

		<div class="col-6 col-sm-6 col-md-6 col-lg-6">
			<label for="startTime" class="form-label">
				Hora Início
			</label>
			<input autocomplete="off" type="time" name="startTime" class="form-control" id="startTime" value="{{ set_value('startTime', startTime) }}" required/>
		</div>

		<div class="col-md-6 col-lg-6">
			<label for="tipoBuyIn" class="form-label">
				Tipo do buy in
			</label>
			<select class="form-select" name="tipoBuyIn" id="tipoBuyIn" required>
				<option></option>
				{% for optionTipoBuyIn in tiposBuyIn %}
					{% set biSelected = set_value('tipoBuyIn', bi.tipoBuyIn) == optionTipoBuyIn.id ? 'selected' : '' %}
					<option value="{{ optionTipoBuyIn.id }}" {{ biSelected }}>
						{{ optionTipoBuyIn.name }}
					</option>
				{% endfor %}
			</select>
		</div>
		<div class="col-md-6 col-lg-6">
			<label for="pokerSiteId" class="form-label">
				Site
			</label>
			<select class="form-select" name="pokerSiteId" id="pokerSiteId" required>
				<option></option>
				{% for optionPokerSiteId in pokerSites %}
					{% set siteSelected = set_value('pokerSiteId', bi.pokerSiteId) == optionPokerSiteId.id ? 'selected' : '' %}
					<option value="{{ optionPokerSiteId.id }}" {{ siteSelected }}>
						{{ optionPokerSiteId.name }}
					</option>
				{% endfor %}
			</select>
		</div>
		<div class="col-6 col-sm-6 col-md-6 col-lg-6">
			<label for="buyinValue" class="form-label">
				Valor do buy in
			</label>
			<div class="input-group has-validation">
				<span class="input-group-text" id="IGPBuyinValue">
					<i data-bs-toggle="tooltip" title="Valor em dólar americano" class="bi bi-currency-dollar"></i>
				</span>
				<input autocomplete="off" type="text" inputmode="numeric" name="buyinValue" class="form-control money-dolar" id="buyinValue" value="{{ set_value('buyinValue', bi.buyinValue) }}" required/>
			</div>
		</div>

		<div class="col-6 col-sm-6 col-md-6 col-lg-6">
			<label for="reentryBuyIn" class="form-label">
				Reentrada
				<i data-bs-toggle="tooltip" title="Inclusive rebuy, addon e outros extras" class="bi bi-info-circle-fill"></i>
			</label>
			<div class="input-group has-validation">
				<span class="input-group-text" id="IGPReentryBuyIn">
					<i data-bs-toggle="tooltip" title="Valor em dólar americano" class="bi bi-currency-dollar"></i>
				</span>
				<input autocomplete="off" type="text" inputmode="numeric" name="reentryBuyIn" class="form-control money-dolar" id="reentryBuyIn" value="{{ set_value('reentryBuyIn', bi.reentryBuyIn) }}"/>
			</div>
		</div>
		<div class="d-flex justify-content-end gap-3">
			<button type="reset" class="btn btn-secondary">
				Limpar
			</button>
			<button type="submit" class="btn btn-primary">
				Salvar
			</button>
		</div>
	</form>
	<!-- End Multi Columns Form -->
</div></div>
