<div class="card">
	<div class="card-body">
		<h5 class='card-title d-flex flex-column'>
			Lista de jogos
			<span class='d-flex justify-content-end'>
				Total:
				{{count(buyInList)}}
				| Em andamento:
				{{countAbertos}}
				| Para começar:{{countFuturo}}
			</span>
		</h5>
	</div>
	<div class="card-footer">
		<div class='d-flex justify-content-end pe-0'>
			<div class="btn-group d-flex btn-group-session align-items-center justify-content-end" role="group" aria-label="Botões ação Sessão">
				<a class="btn text-success" title="Adicionar jogo" href="/session/salvaBuyIn">
					<i class='bi bi-plus-circle'></i>
				</a>
				<a class="btn text-success " title='Importar Grade' href="/session/importarGrade">
					<i class='bx bx-import'></i>
				</a>
				<a class="btn text-danger " title='Encerrar a sessão' href="/session/encerrar">
					<i class='bx bx-sleepy'></i>
				</a>
			</div>
		</div>
	</div>
</div>

{% autoescape false %}
	{% for bi in buyInList %}
		{% set classLucro = bi['isClosed'] ?  (bi['profit'] > 0 ? 'text-success' : ((bi['profit'] < 0) ? 'text-danger' : '')) : '' %}
		{% set startDate = ci_time(bi['startDate']) %}
		{% set endDate = ci_time(bi['endDate']) %}
		{% if (bi['isClosed']) %}
			{% set cardTime = box_bi('Encerrado', endDate.humanize(), "title='" ~ startDate.format('d/m/Y H:i') ~ "' class='col-lg-3 col-md-3 col-xs-3 col-3'") %}
		{% else %}
			{% set cardTime = box_bi('Início', startDate.humanize(), "title='" ~ startDate.format('d/m/Y H:i') ~ "' class='col-lg-3 col-md-3 col-xs-3 col-3'") %}
		{% endif %}
		<div class="card mb-1 py-2">
			<div class="d-flex flex-column">
				<div class='row'>
					<div class='d-flex justify-content-end'>
						<div class="btn-group" role="group" aria-label="Botões ação Buy-in">
							<a class="dropdown-item text-danger btn-remove-buyin" title="Remover" href="/session/removeBuyIn/{{bi['buyinId']}}">
								<i class='bi bi-trash'></i>
							</a>


							<a class="dropdown-item text-primary " title="Cotas" href="/session/stakingBuyIn/{{bi.buyinId}}">
								<i class="ri-money-dollar-box-line"></i>
							</a>

							<a class="dropdown-item text-primary" title="Editar" href="/session/saveBuyIn/{{bi['buyinId']}}">
								<i class='bi bi-pencil'></i>
							</a>

							<a class="dropdown-item text-primary" title="Encerrar" href="/session/endBuyIn/{{bi['buyinId']}}">
								<i class="bi bi-door-closed-fill"></i>
							</a>
						</div>
					</div>
					<div
						class="col-lg-2 col-sm-3 col-xs-3 col-3 px-1 py-0 d-flex align-content-center align-items-center">
						<!--https://seeklogo.com/images/P/pokerstars-logo-4D58E5168B-seeklogo.com.png-->
						<img src="{{(getSiteSrcImage(bi['pokerSiteName'])) }}" style="max-width:50px;" class="img-fluid rounded-circle" alt="{{bi['pokerSiteShortName']}}">
					</div>

					<div class="card-title py-0 col-lg-10 col-sm-9 col-xs-9 col-9">
						<h5 class='card-title  {{classLucro}}'>
							{% if bi['position'] =='1' %}
								<i class="bx bxs-trophy"></i>
							{% endif %}
							{{ bi['gameName']}}<span>
								{{bi['pokerSiteName'] }}</span>
						</h5>
					</div>


					<div class="col-lg-12 col-sm-12 col-xs-12 col-12 pt-0">
						<div class="card-body bg-light py-0">
							<div class='row text-muted small '>
								{{box_bi('Total buy in', dolarFormat(bi['totalBuyIn']), 'class="col-lg-3 col-md-6 col-sm-3  col-xs-3 col-3"') }}
								{{box_bi('Total prize', dolarFormat(bi['totalPrize']), 'class="col-lg-3 col-md-6 col-sm-3 col-xs-3 col-3"')}}
								{{box_bi('Lucro', dolarFormat(bi['profit']), "class='col-lg-3 col-md-3 col-xs-3 col-3 classLucro'")}}
								{{cardTime}}
							</div>
						</div>
					</div>
				</div>
				<!--accordion -->
				<div class="accordion accordion-flush" id="accordion{{bi['buyinId']}}">
					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-heading{{bi['buyinId']}}">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{bi['buyinId']}}" aria-expanded="false" aria-controls="flush-collapse{{bi['buyinId']}}">
								Mais detalhes
							</button>
						</h2>
						<div id="flush-collapse{{bi['buyinId']}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{bi['buyinId']}}" data-bs-parent="#accordion{{bi['buyinId']}}">
							<div class="accordion-body">
								<hr class='divider'/>
								{% if (bi['stakingSold'] > 0) %}
									<div class='row p-3'>
										{{box_bi('Cota oferecida', percent(bi['stakingSelling']), 'class="col-md-4 col-lg-4 col-xs-4 col-4"') }}
										{{box_bi('Markup', (bi['markup']), 'class="col-md-4 col-lg-4 col-xs-4 col-4"')  }}
										{{box_bi('Cota vendida', percent(bi['stakingSold']), 'class="col-md-4 col-lg-4 col-xs-4 col-4 "')  }}
										{{box_bi('Patrocinadores pagaram', dolarFormat(bi['stakingReturn']), 'class="col-md-4 col-lg-4 col-xs-6 col-4"')  }}
										{{box_bi('Patrocinadores receberam', dolarFormat(bi['totalPrizeStakers']), 'class="col-md-4 col-lg-4 col-xs-4 col-4"')  }}
									</div>
								{% endif %}
								<div class='row p-3'>
									{{box_bi('Buy in inicial', dolarFormat(bi['buyinValue']), 'class="col-lg-6 col-md-6 col-sm-6  col-xs-6 col-6"') }}
									{{box_bi('Buy in reentrada', dolarFormat(bi['reentryBuyIn']), 'class="col-md-6 col-md-6  col-xs-6 col-6 "')  }}
									{% if bi['isClosed'] %}
										{{box_bi('Prêmio reentrada', dolarFormat(bi['prizeReentry']), 'class="col-md-4 col-xs-4 col-4 "')  }}
										{{box_bi('Tamanho do field', (bi['fieldSize']), 'class="col-md-4 col-xs-4 col-4 "') }}
										{{box_bi('Posição final', (bi['position'])?(bi['position'] ~ 'º'):'Não informado', 'class="col-md-4 col-xs-4 col-4 "')  }}
									{% endif %}
								</div>
								<hr class='divider'/>
							</div>
						</div>
					</div>
				</div>
				<!--end accordion -->
			</div>
		</div>
	{% endfor %}
{% endautoescape %}
