{% set buyInList =openedSession['buyInList'] ?? [] %}
<div
	class='grid-container-cards-session'>
	<!-- Jogos Card -->
	<div class="">
		<div class="card info-card sales-card">
			<div class="card-body">
				<h5 class="card-title">Jogos
					<span>|Nesta sessão</span>
				</h5>

				<div class="d-flex align-items-center">
					<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
						<i class="ri ri-grid-fill"></i>
					</div>
					<div class="ps-3">
						<h6>{{count(buyInList)}}</h6>
						<span class="text-muted small pt-2 ps-1">{{textSitesJogados}}
							|
							{{implode(', ',sitesJogados) }}</span>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- End Jogos Card -->
	<!-- Profit Card -->
	<div class="">
		<div class="card info-card revenue-card">
			<div class="card-body">
				<h5 class="card-title">Lucro
					<span>|Nesta sessão</span>
				</h5>

				<div class="d-flex align-items-center">
					<div class="card-icon rounded-circle d-flex align-items-center justify-content-center {{classTextProfit}}">
						<i class="bi bi-currency-dollar"></i>
					</div>
					<div class="ps-3">
						<h6 class="{{classTextProfit}}">{{dolarFormat(sumary['profit'])}}</h6>
						<span class="text-muted small pt-2 ps-1">Total de premiação:{{dolarFormat(sumary['totalPrize'])}}
						</span>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- End Profit Card -->
	<!-- ABI Card -->
	<div class="">
		<div class="card info-card revenue-card">
			<div class="card-body">
				<h5 class="card-title">ABI
					<span>|Nesta sessão</span>
				</h5>

				<div class="d-flex align-items-center">
					<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
						<i class="bi bi-currency-dollar"></i>
					</div>
					<div class="ps-3">
						<h6>{{dolarFormat(sumary['avgBuyIn'])}}</h6>
						<span class="text-muted small pt-2 ps-1">Total de buy in:{{dolarFormat(sumary['totalBuyIn'])}}
						</span>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- End ABI Card -->

	<!-- ROI Card -->
	<div class="">

		<div class="card info-card customers-card">
			<div class="card-body">
				<h5 class="card-title">ROI
					<span>|Nesta sessão</span>
				</h5>

				<div class="d-flex align-items-center">
					<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
						<i class="bi {{sumary['percentageROI'] > 0 ? 'bi-box-arrow-up-right' : 'bi-box-arrow-down-left'}}"></i>
					</div>
					<div class="ps-3">
						<h5>{{percent(sumary['percentageROI'])}}</h5>
					</div>
				</div>

			</div>
		</div>

	</div>
	<!-- End ROI Card -->
</div>
