{% extends 'templateBaseLogin.twig' %}
{% block content %}
	<div class="container">

		<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

						<div class="d-flex justify-content-center py-4">
							<a href="index.html" class="logo d-flex align-items-center w-auto">
								<img src="/assets/img/Logo.png" alt="">
								<span class="d-none d-lg-block">{{config('App').appName}}</span>
							</a>
						</div>
						<!-- End Logo -->

						<div class="card mb-3">

							<div class="card-body">

								<div class="pt-4 pb-2">
									<h5 class="card-title text-center pb-0 fs-4">Crie sua conta</h5>
									<p class="text-center small">Informe seus dados básicos para a criação</p>
								</div>

								<form method="post" class="row g-3 needs-validation" novalidate>
									<div class="col-12">
										<label for="nome" class="form-label">Seu nome</label>
                                        <div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrependNome"><i class='bi bi-people'></i></span>
										<input type="text" name="nome" class="form-control" id="nome" value="{{set_value('nome')}}" autocomplete="off" required>
										<div class="invalid-feedback">Por gentileza, informe seu nome!</div>
                                        </div
									</div>

									<div class="col-12">
										<label for="email" class="form-label">Seu email</label>
										<div class="input-group has-validation">
											<span class="input-group-text" id="inputGroupPrependEmail">@</span>
											<input type="email" name="email" class="form-control" id="email" value="{{set_value('email')}}"  autocomplete="off"  required>
											<div class="invalid-feedback">Por favor, informe seu email. Ele será usado para autenticar.</div>
										</div>
									</div>

									<div class="col-12">
										<label for="senha" class="form-label">Senha</label>
										<div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrependSenha"><i class='bi bi-key'></i></span>
											<input type="password" name="senha" class="form-control" id="senha" value="{{set_value('senha')}}"  autocomplete="off"  required>
											<div class="invalid-feedback">Por favor, informe uma senha válida!</div>
										</div>
									</div>

									<div class="col-12">
										<label for="inviteCode" class="form-label">Você tem um código de convite?</label>
										<div class="input-group">
											<span class="input-group-text" id="inputGroupPrependInviteCode">@</span>
											<input type="text" name="inviteCode" class="form-control" id="inviteCode" 
                                            value="{{set_value('inviteCode')}}"  autocomplete="off">
										</div>
									</div>

									<div class="col-12">
										<div class="form-check">
											<input class="form-check-input" name="termoAceito" type="checkbox" value="1" 
                                            {{set_value('termoAceito')?'checked':''}} id="termoAceito" >
											<label class="form-check-label" for="termoAceito">Eu li e aceito os
												<a href="#">termos e condições</a>
											</label>
											<div class="invalid-feedback">Você precisa aceitar os termos e condições.</div>
										</div>
									</div>
									<div class="col-12">
										<button class="btn btn-primary w-100" type="submit">Criar conta</button>
									</div>
									<div class="col-12">
										<p class="small mb-0">Você já tem uma conta?
											<a href="/login/index">Bora registrar as forras então</a>
										</p>
									</div>
								</form>

							</div>
						</div>

					</div>
				</div>
			</div>

		</section>

	</div>
{% endblock %}
