{% extends 'templateBase.twig' %}
{% block css %}
	{{parent()}}
	<link rel="stylesheet" href="\assets\css\dashboard.css?version={{versionScripts}}" rel="stylesheet">
	<style>
		.card-sumary-site {
			transition: visibility 0s, opacity 0.5s linear;
		}
	</style>
{% endblock %}
{% block scriptsFooter %}
	{{parent()}}
	<script>
		$(document).ready(function () {
const storedSearch = localStorage.getItem('siteNameFilter');
setTimeout(() => {
$('.siteNameFilter').val(storedSearch)
$('.siteNameFilter').keyup();
}, 5);
$(document).on("keyup", ".siteNameFilter", function () {
const search = $(this).val()
localStorage.setItem('siteNameFilter', search);
const cards = $('.card-sumary-site');
cards.each(function () {
if (search.trim() == "") {
$(this).show();
} else {
const span = $(this).find('.span-poker-site-name')
if (span.text().toLowerCase().includes(search.toLowerCase())) {
$(this).show();
} else {
$(this).hide();
}
}
})

})
})
	</script>
{% endblock %}
{% block content %}

	{% if 1 or decodedToken.isSub %}
		<div class="summary-button-control card d-flex justify-content-between align-items-center flex-row">
			<a class="d-flex" title="Ano anterior" href="/dashboard/yearly_by_site/{{ year - 1 }}">
				<i class="bx bx-skip-previous-circle"></i>
			</a>
			<div class="d-flex flex-1 card-title">
				Resumo do ano
				{{ year }}
			</div>
			<a class="d-flex" title="Próximo ano" href="/dashboard/yearly_by_site/{{ year + 1 }}">
				<i class="bx bx-skip-next-circle"></i>
			</a>
		</div>
		<div>
			<input type="text" class="w-100 form-control-sm siteNameFilter" name="siteNameFilter" value="{{siteNameFilter}}" placeholder="Filtre aqui o nome do site">
		</div>
		<small>
			* O ITM neste cenário leva em conta a premiação com bounty. Por exemplo: se você não entrou na faixa de ITM do torneio, mas pegou um bounty e registrou como prêmio, o sistema irá considerar ITM.
		</small>
		{% for pokerSiteName,yearlySumary in yearlysSumary %}

			<div class="card card-sumary-site">
				<div class="card-body">
					{% set totalProfitYear = array_sum(array_column(yearlySumary, 'profit')) %}
					{% set countBuyIns = array_sum(array_column(yearlySumary, 'countBuyIns')) %}
					{% set totalBuyIn = array_sum(array_column(yearlySumary, 'totalBuyIn')) %}
					{% set totalITM = array_sum(array_column(yearlySumary, 'countITM')) %}
					{% set sumAbi = array_sum(array_column(yearlySumary, 'avgBuyIn')) %}
					{% if count(yearlySumary) > 0%}
						{% set  ABI = sumAbi / count(yearlySumary) %}
					{% else %}
						{% set ABI = 0 %}
					{% endif %}

					{% if totalProfitYear > 0 %}
						{% set classTextProfit = 'text-success' %}
					{% elseif totalProfitYear < 0 %}
						{% set classTextProfit = 'text-danger' %}
					{% else %}
						{% set classTextProfit = 'text-light' %}
					{% endif %}
					<div class='d-flex justify-content-between align-items-center bg-secondary text-light p-2'>
						{% if  getSiteSrcImage(pokerSiteName) %}
							<img src="{{ getSiteSrcImage(pokerSiteName) }}" style="max-width:35px;" class="img-fluid rounded-circle" alt="{{ pokerSiteName }}"/>
						{% else %}
							<strong>
								{{ pokerSiteName }}
							</strong>
						{% endif %}
						<div>
							Resumo dos registros:
							<span class="span-poker-site-name">
								{{pokerSiteName}}
							</span>
						</div>
					</div>
					<div class="bg-light grid-summary-data">
						<div class="p-2">
							Registros:
							{{ countBuyIns }}
						</div>
						<div class="p-2">
							ABI:
							{{ dolarFormat(ABI) }}
						</div>
						<div class="p-2">
							ITM:
							{{ (totalITM) }}
						</div>
						<div class="p-2">
							% ITM:
							{% if countBuyIns> 0 %}
								{{ percent((totalITM / countBuyIns )*100) }}
							{% endif %}
						</div>
						<div class="p-2">
							Total $ buy-ins:
							{{ dolarFormat(totalBuyIn) }}
						</div>
						<div class="p-2">
							Retorno $ de Cotas:
							{{ dolarFormat(array_sum(array_column(yearlySumary, 'stakingReturn'))) }}
						</div>
						<div class="p-2">
							Total premiação:
							{{ dolarFormat(array_sum(array_column(yearlySumary, 'totalPrize'))) }}
						</div>

						<div class="p-2 {{ classTextProfit }}">
							Lucro ano:
							{{ dolarFormat(totalProfitYear) }}
						</div>
					</div>
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr class='bg-secondary text-light nowrap'>
									<th>
										Mês
									</th>
									<th>
										Registros
									</th>
									<th>
										ABI
									</th>
									<th>
										$ Buy ins
									</th>
									<th>
										ITM
									</th>
									<th>
										% ITM
									</th>
									<th>
										Retorno de cotas
									</th>
									<th>
										Premiação
									</th>
									<th>
										$ Lucro
									</th>
								</tr>
							</thead>
							{% for mes in yearlySumary %}
								{% if mes['profit'] > 0 %}
									{% set classTextProfit = 'text-success' %}
								{% elseif mes['profit'] < 0 %}
									{% set classTextProfit = 'text-danger' %}
								{% else %}
									{% set classTextProfit = 'text-secondary' %}
								{% endif %}
								<tr class="{{ classTextProfit }}">
									<td>
										{{ mes.mesBuyin }}
									</td>
									<td>
										{{ mes.countBuyIns }}
									</td>
									<td class='text-end'>
										{{ dolarFormat(mes.avgBuyIn) }}
									</td>
									<td class='text-end'>
										{{ dolarFormat(mes.totalBuyIn) }}
									</td>
									<td>
										{{ mes.countITM }}
									</td>
									<td class='text-end'>
										{{ percent(mes.percentageITM) }}
									</td>
									<td class='text-end'>
										{{ dolarFormat(mes.stakingReturn) }}
									</td>
									<td class='text-end'>
										{{ dolarFormat(mes.totalPrize) }}
									</td>
									<td class='text-end'>
										{{ dolarFormat(mes.profit) }}
									</td>
								</tr>
							{% endfor %}
						</table>
					</div>

				</div>
			</div>
		{% endfor %}
	{% else %}
		{% include "Common/msg-not-sub.twig" %}
	{% endif %}
{% endblock %}
