{# {{pre(session)}} #}
<div class="card">
	<div class="card-header">
		<div class="card-title">
			{{ci_time(session.startDate).format('d/m/Y H:i')}}
			<span>
				|
				{{session.description}}
			</span>
		</div>

	</div>


	{# Array
						(
						    [totalBuyIn] => 216.71
						    [totalPrize] => 170.86
						    [countITM] => 11
						    [totalPrizeStakers] => 98.63000000
						    [avgBuyIn] => 6.990645
						    [countBuyIns] => 31
						    [stakingReturn] => 133.9510000000
						    [profit] => -10.5290000000
						    [profitRaw] => -45.85
						    [percentageITM] => 35.4839
						    [buyInWithStakingSold] => 82.7590000000
						    [percentageROI] => -12.72248335528462
						    [percentageRawROI] => -21.157307
						) #}

	<div class="card-boby p-2">
		<div class="d-flex flex-row justify-content-between">
			<div>
				<span>
					<strong>Encerramento:</strong>
					{% if not is_null(session.endDate) %}
						{{ci_time(session.endDate).format('d/m/Y H:i')}}
					{% endif %}
				</span>
				<span>
					<strong>Total investido:</strong>
					{{dolarFormat(session.sumary['totalBuyIn'])}}
				</span>
				<span>
					<strong>Retorno de cotas:</strong>
					{{dolarFormat(session.sumary['stakingReturn'])}}
				</span>
				<span>
					<strong>Total premiação:</strong>
					{{dolarFormat(session.sumary['totalPrize'])}}
				</span>
				<span>
					<strong>Premiação dos patrocinadores:</strong>
					{{dolarFormat(session.sumary['totalPrizeStakers'])}}
				</span>
				<span>
					<strong>Profit:</strong>
					{{dolarFormat(session.sumary['profit'])}}
				</span>
			</div>
			<span>
				<a class='btn-reopen-session' href='/session/reopen/{{session.id}}'>Reabrir para edição</a>
			</span>

		</div>
		<div>
			<!--accordion -->
			<div class="accordion accordion-flush" id="accordion{{bi['buyinId']}}">
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-heading{{bi['buyinId']}}">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{bi['buyinId']}}" aria-expanded="false" aria-controls="flush-collapse{{bi['buyinId']}}">
							Mais detalhes
						</button>
					</h2>
					<div id="flush-collapse{{bi['buyinId']}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{bi['buyinId']}}" data-bs-parent="#accordion{{bi['buyinId']}}">
						<div class="accordion-body">
							{% set buyInList = session.buyInList %}
							<h5>Buy-ins</h5>
							{% include 'Session/BuyIns/list-cards.twig' %}
						</div>
					</div>
				</div>
			</div>
			<!--end accordion -->
			{# {{pre(session.buyInList)}} #}
		</div>
	</div>
</div>
