<div class="card">
	<div class="card-body">
		<h5 class="card-title">Dados do encerramento</h5>
		<!-- Multi Columns Form -->
		<form method="post" class="row g-3" id="form-encerramento-sessao">
			<input type='hidden' name="sessionId" value="{{openedSession['id']}}">
			<div class="col-md-6">
				{{box_bi('Descrição',openedSession['description'])}}
			</div>
			<div class="col-md-6">
				{{box_bi('Abertura',ci_time(openedSession['startDate'],'Y-m-d H:i:s').format('d/m/Y H:i'))}}
			</div>

			<div class="col-md-6">
				<label for="endDate" class="form-label">Data do encerramento</label>
				{% set currentDate = date('Y-m-d') %}
				{% set currentTime = date('H:i') %}
				<input type="date" name="endDate" class="form-control" id="endDate" value="{{set_value('endDate',currentDate)}}" required>
			</div>
			<div class="col-md-6">
				<label for="endTime" class="form-label">Hora do encerramento</label>
				<input type="time" name="endTime" class="form-control" id="endTime" value="{{set_value('endTime',currentTime)}}" required>
			</div>


			<div class="col-md-12">
				<label for="descriptionEnd" class="form-label">Descrição encerramento</label>
				<input type="text" name="descriptionEnd" class="form-control" id="description" value="{{set_value('descriptionEnd',openedSession['descriptionEnd'])}}" required>
			</div>

			<div class="d-flex justify-content-end gap-2">
				<button type="reset" class="btn btn-secondary">Limpar</button>
				<button type="submit" class="btn btn-primary">Confirmar o encerramento</button>
			</div>
		</form>
		<!-- End Multi Columns Form -->

	</div>
</div>
