<div class="card  summary-current-session">
	<div class="card-body">
		<div class='d-flex flex-column'>
			<div class='grid-summary-current-session'>

				{{box_summary_session('Jogando',countAbertos)}}
				{{box_summary_session('Breve',countFuturo)}}
				{{box_summary_session('Encerrados',countEncerrados)}}
				{{box_summary_session('Total',count(buyInList))}}

				{{box_summary_session('$ BI total',dolarFormat(sumary.totalBuyIn))}}
				{{box_summary_session('$ Prêmios',dolarFormat(sumary.totalPrize))}}
				{{box_summary_session('Profit',profitFormat(sumary.profit))}}
				{{box_summary_session('ABI',dolarFormat(sumary.avgBuyIn))}}

				{{box_summary_session('Cotas',dolarFormat(sumary.stakingReturn))}}
				{{box_summary_session('Em ITM',sumary.countITM ~'('~ percentFormat(sumary.percentageITM)~')')}}
				{{box_summary_session('BI-Cotas',dolarFormat(sumary.buyInWithStakingSold))}}
				{{box_summary_session('Total BI',dolarFormat(sumary.totalBuyIn))}}
			</div>
		</div>
	</div>
	<div class="card-footer p-0">
		<div class='d-flex justify-content-end p-0 pb-2'>
			<div class="btn-group d-flex btn-group-session align-items-center justify-content-end" role="group" aria-label="Botões ação Sessão">
				<a class="btn text-success" title="Adicionar jogo" href="/session/saveBuyIn">
					<i class='bi bi-plus-circle-fill'></i>
				</a>
				<a class="btn text-success " title='Importar Grade' href="/session/importarGrade">
					<i class="bi bi-grid-3x3-gap-fill"></i>
				</a>
				<a class="btn text-success" title='Encerrar a sessão' href="/session/encerrar">
					<i class="bi bi-save2-fill"></i>
				</a>
			</div>
		</div>
	</div>
</div>
