<div class="card  summary-current-session">
	<div class="card-body">
		<div class='d-flex flex-column'>
			<div class='grid-summary-current-session'>
				{{box_summary_session('Jogando',countAbertos)}}
				{{box_summary_session('Breve',countFuturo)}}
				{{box_summary_session('Encerrados',countEncerrados)}}
				{{box_summary_session('Total',count(buyInList))}}

				{{box_summary_session('$ BI total',dolarFormat(sumary.totalBuyIn))}}
				{{box_summary_session('$ Prêmios',dolarFormat(sumary.totalPrize))}}
				{{box_summary_session('Profit',profitFormat(sumary.profit))}}
				{{box_summary_session('ABI',dolarFormat(sumary.avgBuyIn))}}

				{{box_summary_session('Cotas',dolarFormat(sumary.stakingReturn))}}
				{{box_summary_session('Em ITM',sumary.countITM ~'('~ percentFormat(sumary.percentageITM)~')')}}
				{{box_summary_session('BI-Cotas',dolarFormat(sumary.buyInWithStakingSold))}}
				{{box_summary_session('Total BI',dolarFormat(sumary.totalBuyIn))}}
			</div>
		</div>
	</div>
</div>
