<div class="card  summary-current-session">
	<div class="card-body">
		<div class='d-flex flex-column'>
			<div class='grid-summary-current-session'>
				{{box_summary_session('Jogando',countAbertos)}}
				{{box_summary_session('Breve',countFuturo)}}
				{{box_summary_session('Encerrados',countEncerrados)}}
				{{box_summary_session('Total',count(buyInList))}}

				{{box_summary_session('$ BI total',dolarFormat(summary.totalBuyIn))}}
				{{box_summary_session('$ Prêmios',dolarFormat(summary.totalPrize))}}
				{{box_summary_session('Profit',profitFormat(summary.profit))}}
				{{box_summary_session('ABI',dolarFormat(summary.avgBuyIn))}}

				{{box_summary_session('Cotas',dolarFormat(summary.stakingReturn))}}
				{{box_summary_session('Em ITM',summary.countITM ~'('~ percentFormat(summary.percentageITM)~')')}}
				{{box_summary_session('BI-Cotas',dolarFormat(summary.buyInWithStakingSold))}}
				{{box_summary_session('Total BI',dolarFormat(summary.totalBuyIn))}}
			</div>
		</div>
	</div>
</div>
