<!-- Vendor JS Files -->
<script src="/assets/templates/NiceAdmin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js?version={{versionScripts}}"></script>
<script src="/assets/templates/NiceAdmin/assets/vendor/apexcharts/apexcharts.min.js?version={{versionScripts}}"></script>
<script src="/assets/templates/NiceAdmin/assets/vendor/chart.js/chart.min.js?version={{versionScripts}}"></script>
<script src="/assets/templates/NiceAdmin/assets/vendor/echarts/echarts.min.js?version={{versionScripts}}"></script>
<script src="/assets/templates/NiceAdmin/assets/vendor/quill/quill.min.js?version={{versionScripts}}"></script>
<script src="/assets/templates/NiceAdmin/assets/vendor/simple-datatables/simple-datatables.js?version={{versionScripts}}"></script>
<script src="/assets/templates/NiceAdmin/assets/vendor/tinymce/tinymce.min.js?version={{versionScripts}}"></script>
<script src="/assets/templates/NiceAdmin/assets/vendor/php-email-form/validate.js?version={{versionScripts}}"></script>
<script src="/assets/plugins/jquery/jquery-3.6.0.min.js?version={{versionScripts}}"></script>
<script src="/assets/scripts/global.js?version={{versionScripts}}"></script>
<script src="/assets/scripts/funcoes.js?version={{versionScripts}}"></script>
<script src="/assets/plugins/confirmbutton.js?version={{versionScripts}}"></script>
<script src="/assets/scripts/cookie.js?version={{versionScripts}}"></script>
<script src="/assets/templates/NiceAdmin/assets/js/main.js?version={{versionScripts}}"></script>
<!-- Template Main JS File -->
<script src="/assets/plugins/moment/moment-with-locales.js?version={{versionScripts}}"></script>
<script src="/assets/plugins/jquery-mask/jquery.mask.js?version={{versionScripts}}"></script>
{% if (session('usuarioTokenAcesso')) %}
	<script>
		function cronometro() {
setTimeout(function () {
moment.locale('pt-br');
let exp = '{{ session('usuarioTokenAcesso').expDate }}';
let now = moment();
let expira = moment(exp, 'DD/MM/YYYY HH:mm:ss');
let restam = expira.diff(now, 'minutes');
const formatedReturn = moment().startOf('day').minutes(restam).format('HH:mm') + 'h';
let msg = '';
let classText = '';
let classBg = '';
if (restam <= 0) {
restam = 0;
classText = 'text-danger';
msg = '<div class="text-danger">Sua sess達o expirou em ' + expira.format('DD/MM/YYYY HH:mm:ss') + '</div>';
} else if (restam > 10) {
classText = 'text-success';
msg = '<div class="text-success">Sua sess達o expira em ' + formatedReturn + '</div>';
} else if (restam > 1) {
classText = 'text-info';
msg = '<div class="text-info">Sua sess達o expira em ' + formatedReturn + '</div>';
} else {
classText = 'text-warning';
msg = '<div class="text-warning">Sua sess達o expira em ' + formatedReturn + '</div>';
}
$('.bi-time-left-token').removeClass('text-danger, text-info, text-success, text-warning').addClass(classText);
$('.badge-time-left-token').text(formatedReturn).removeClass('text-danger, text-info, text-success, text-warning').addClass(classText);
$('.badge-time-left-token-expanded').html(msg);

cronometro();
}, 1000);
}

$(document).ready(function () {
cronometro();
});
	</script>
{% endif %}
